/* General HTML tags, browser reset */
body {
  background-color: lightgray;
  width: 100%;
  margin: 0;
  font-family: 'Merriweather', serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
  /*font-weight: bold;*/
  font-weight: bold;
  font-size: 30px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 24px;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

a.link {
  display: inline-block;
  text-decoration: none;
  color: #0A5FFF;
}

a.secondLink {
  text-decoration: underline;
  padding-bottom: 10px;
}

/* Navbar, Navbar items, Burger Menu */
.navbar {
  background-color: #6A6F81;
  z-index: 300;
  width: 100%;
  height: 100%;
}

.navbar-fixed {
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 100;
}

.nav-item {
  padding: 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #616368;
  color: #616368;
}

.navigation {
  margin-top: -250px;
  margin-bottom: 0px;
  top: -10px;
  transition: margin-top 0.5s;
  position: fixed;
  z-index: -100;
  background-color: white;
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.navbar-title {
  color: white;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  padding-top: 13px;
  padding-left: 10px;
  display: block;
  z-index: 1000;
  float: left;
}

.navbar-burger {
  height: 30px;
  width: 30px;
  margin-top: 12px;
  margin-right: 10px;
  top: 0;
  left: 80%;
  fill: white;
  background-image: url(../img/menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 400;
  float: right;
}

input[type=checkbox]:checked + .navigation {
  margin-top: 70px;
  transition: margin-top 0.5s;
}

#navbar-trigger {
  top: -9999px;
  right: -9999px;
  position: absolute;
}

/* Content box */
.content {
  margin-top: 60px;
  background-color: rgba(255, 255, 255, 0.6);
  padding-bottom: 20px;
  padding-top: 20px;
  /* margin-top: 85vh; */
  min-height: 80vh;
  width: 100%;
  /* padding-left: 2%; */
  position: relative
}

.page-title {
  display: none;
  padding-left: 0;
  color: black;
  font-size: 6vh;
  width: auto;
  float: right;
  margin-top: 4vh;
  font-weight: lighter;
  white-space: nowrap;
}

/* Video / Image background */
.video-background {
  display: none;
}

.image-background {
  position: fixed;
  background: url(../img/berge.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1000;
}

#player {
  height: 100%;
}

/* Example blocks */
.examples {
  display: inline-block;
}

.examples--outer {
  width: 100%;
}

.example-block {
  margin: 0 auto;
  float: none;
  width: 60%;
  margin-top: 20px;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  background-color: #cdcdcd;
  /* margin-right: 20px; */
  text-align: center;
}

.example-block-image {
  width: 50%;
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
}

.example-block-description {
  margin-top: 10px;
  padding-bottom: 10px;
  display: block;
}

/* Text */
.block {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  float: none;
  /* padding-right: 30px; */
  text-align: justify;
}

.text-content {
  font-size: 18px;
}

/* Other classes */
.clearfix {
  clear: both;
}

/* fade animation */
@keyframes fade {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

.fadeout {
  opacity: 0;
  animation: fade 1s linear;
}

/* Form */
form {
  margin-top: 50px;
}

.input-box {
  margin-top: 20px;
}

.form-label {
  width: 30%;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
}

.pull-left {
  float: left;
}

.input-element {
  width: 70%;
}

.submit-button {
  width: 100%;
  height: 40px;
}

/* PC/Tablet */
@media screen and (min-width: 600px) {
  .nav-item {
    padding: 0;
    border-bottom-width: 0;
    float: left;
    transition: background-color 0.25s;
  }

  .nav-item:hover {
    background-color: #54565D;
    transition: background-color 0.25s;
  }

  .nav-item > a {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
  }

  .navigation {
    top: 0;
    margin-top: 0;
    transition: margin-top 0.5s;
    position: absolute;
    z-index: 100;
    width: auto;
    list-style-type: none;
    padding: 0;
    right: 0;
    background-color: #6A6F81;
  }

  .navbar-burger {
    display: none;
  }

  .examples {
    width: 100%;
  }

  .example-block {
    width: 33%;
    float: left;
    margin-right: 8%;
    margin-left: 8%;
  }


}
